.paginator {
    margin: 10px;
    display: flex;
  
  justify-content: center;

}

.pageNumber {
    padding: 2px;
    border: 1px solid grey;
}

.selectedPage {
    border-color: black;
    font-weight: bold;
}

span {
    padding: 2px;
}