.paginator {
    margin: 10px;
    display: flex;
  
  justify-content: center;

}

.pageNumber {
    padding: 2px;
    border: 1px solid grey;
}

.selectedPage {
    border-color: black;
    font-weight: bold;
}

span {
    padding: 2px;
}

.paginatorButtons {
    background-color: white;
    border-radius: 3px;
    border: solid 1px #999;
    width: 28px;
    margin-left: 2px;
}