.item {
  color: white;
}

.item a.active {
  color: goldenrod
}

.nav {
    grid-area: n;
    background-color: aquamarine;
  }

.nav a {
  text-decoration: none;
  color: darkred;
  font-weight: 500;
}