ul li {
  list-style-type: decimal;
}

.app-wrapper {
  margin: 0 auto;
  max-width: 1200px;
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  grid-template-areas: 
  "h h"
  "n c";
}

.app-wrapper-content {
  grid-area: c;
  background-color: rgb(245, 245, 245);

}
