.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialog {
    color: black;
}

.dialogItem {
    padding: 10px;
}

.dialog.active {
    color: goldenrod;
}

/* .messages {

}

.message {

} */