.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialog {
    color: black;
}

.dialog a {
    text-decoration: none;
    color: darkslategrey;
}

.dialogItem {
    padding: 10px;
}

.dialog a.active {
    color: goldenrod;
}
.messages {
    width: 150px;
}
.buttons {
    display: flex;
    justify-content: space-around;
}
textarea {
    width: 150px;
    padding: 0;
    border: none;
}

button {
    width: 75px;
}

/* 

.message {

} */