.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialog {
    color: black;
}

.dialogItem {
    padding: 10px;
}

.dialog a {
    color: darkslategrey
}

.dialog a.active {
    color: goldenrod;
}
/* .messages {

}

.message {

} */